@charset "utf-8";

.table {
    border: 3px solid #000;
}

.table th {
    border: 1px solid #000;
    background-color: #7cedff;
}

.foot tr, .foot th{
    text-align: end;
    background-color: #1fed60;
}
tbody tr td:first-child {
    background-color: #eaff00;
}
td{
    border: 1px solid #000 ;
}
